[user]
	name = Aryan Kushwaha
	email = 59092136+funinkina@users.noreply.github.com 
	signingkey = 4E2EEC9087516326DAEC7AFCC82715A7337D235B

[core]
	editor = nano
	whitespace = error
	preloadindex = true
	excludesfile = /home/funinkina/.gitignore_global
	
[status]
	branch = true
	showStash = true
	
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[credential]
	helper = libsecret

[credential "https://dev.azure.com"]
	useHttpPath = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	program = /bin/gpg

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = aryankushwaha3101@gmail.com
    from = Aryan Kushwaha <aryankushwaha3101@gmail.com>
    confirm = always
