[user]
	name = Aryan Kushwaha
	email = 59092136+funinkina@users.noreply.github.com 
	signingkey = 80AE5FF5B635D634BA8FF7BBB0F114D8E94AD5E5 

[core]
	editor = nano
	whitespace = error
	preloadindex = true
	excludesfile = /home/funinkina/.gitignore_global
	
[status]
	branch = true
	showStash = true
	
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[credential]
	credentialStore = secretservice
	helper = /bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /bin/gpg
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
